.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #e8e7e7;
  box-shadow: 0 0.6px 0.6px rgba(0, 0, 0, 0.1);

  .logoLink {
    color: #1fbd47;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin: 0 0.5rem;
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .menuWrapper {
    position: relative; // for dropdown

    .links {
      display: flex;
      align-items: center;
      .link {
        color: #767676;
        text-decoration: none;
        margin: 0 0.5rem;
        font-size: 1.2rem;

        .collectionSpan {
          font-weight: bold;
          margin-right: 5rem; // Add gap only to the right of "Collection"
        }
      }
    }


    .signUpButton {
      color: white;
      background-color: #1fbd47;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: darken(#1fbd47, 10%);
      }
    }

    .dropdownBtn {
      display: none;
    }

    .dropdownMenu {
      display: none;
      position: absolute;
      top: 100%; // place bottom of the button
      right: 0; // place right edge of the button
      background-color: #fff;
      border: 1px solid #e8e7e7;
      border-radius: 5px;
      box-shadow: 0 0.6px 0.6px rgba(0, 0, 0, 0.1);
      z-index: 1000; // make sure it is on top of other elements.
      min-width: 100px;
      margin-top: 0.5rem;

      .link {
        display: block;
        padding: 10px;
        color: #767676;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
          background-color: #f0f0f0;
        }
      }

      .signUpButton {
        background-color: #1fbd47;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        width: 100%;

        &:hover {
          background-color: darken(#1fbd47, 10%);
        }
      }
    }

    // small screen, hide the normal buttons, show menu button

    @media (max-width: 768px) {
      .links {
        display: none;
      }

      .dropdownBtn {
        display: inline-block;
        background-color: #1fbd47;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        font-size: 0.9rem;
        margin-left: auto;
      }

      .dropdownMenu {
        display: block; // Display the dropdown menu
      }
    }
  }
}
